[project]
	description = Repo contains Deal project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tasneem Bohra (TasneemBohra)
[access "refs/for/refs/*"]
	read = group user/Tasneem Bohra (TasneemBohra)
	push = group user/Tasneem Bohra (TasneemBohra)
	label-Code-Review = -2..+2 group user/Tasneem Bohra (TasneemBohra)
	label-Verified = -1..+1 group user/Tasneem Bohra (TasneemBohra)
	rebase = group user/Tasneem Bohra (TasneemBohra)
	removeReviewer = group user/Tasneem Bohra (TasneemBohra)
	submit = group user/Tasneem Bohra (TasneemBohra)
[access "refs/heads/*"]
	read = group user/Tasneem Bohra (TasneemBohra)
	create = group user/Tasneem Bohra (TasneemBohra)
	push = +force group user/Tasneem Bohra (TasneemBohra)
	pushMerge = group user/Tasneem Bohra (TasneemBohra)
[access "refs/tags/*"]
	push = +force group user/Tasneem Bohra (TasneemBohra)
	pushTag = group user/Tasneem Bohra (TasneemBohra)
	pushSignedTag = group user/Tasneem Bohra (TasneemBohra)
